.grey{
    background-color: #dedcdc;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    width: 200px;
    color: black;
    padding-left: 4px;
}

.description{
    background-color: #dedcdc;
    border: 0px;
    border-radius: 4px;
    height: 60px;
    width: 200px;
    color: black;
}